*{
    margin: 0px;
}
body {
    margin: 0;
    background-color: #f0f4f8;
}
main {
    margin: 20px; 
    background-color: #f0f4f8;
}

/* Header section */
header{
    padding: 10px 15px;
    text-align: center;
    background-color: #1e3a5f;
    color: white;
}

header h1 a{
    text-decoration: none;
    color: white;
    
} 
h1 a:hover{
    color: #e63946;
    font-size: 1.1em;
}

/* hr section */

hr{
    border: none;
    height: 2.5px;
    width: 100%;
    background-color: #e63946ed;
    
}

/* about section */

#about{
    display: flex;
    gap: 20px;
    align-items: center;
}

#about img{
    border-radius: 50%;
    width: 30%;
    border: 2.5px solid #e63946;
    animation: glow 3s infinite, slideright 1s ease-in-out;

}

#about-text{
    color: #333;
    max-width: 500px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    animation: slideleft;
    animation-duration: 1s;

}

#about-text h2{
    color: #1e3a5f;
    font-size: 30px;
    padding-bottom: 10px;
    
}

#about-text spam{
    font-size: 1.1em;
    font-weight: bold;
    color: #1e3a5f;
}


#exprience{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 80px;
    animation: slideleft;
    animation-duration: 1s;
}
#exp-item h3{
    color: #e63946;
    font-size: 1.5em;
    
    
}
#exp-item p{
    font-size: 0.9em;
    
}

/* footer section */

footer {
    background-color: #1e3a5f;
    padding: 10px 20px;
    color: white;
}

#footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.social-icons a {
    color: #fcfcfe;
    margin-left: 15px;
    font-size: 1.2em;            
    text-decoration: none;
}

.social-icons a:hover{
    color: #e63946;
}


/* annimations  */
@keyframes glow {
    50%{box-shadow: 0px 0px 30px red;}  
}

@keyframes slideleft{
    from{transform: translateX(50%); opacity:0;}
}

@keyframes slideright{
    from { transform: translateX(-50%); opacity: 0; }
}
